<div class="box1">
    <div id="w">
    <header id="title">
      <h1>Shopping Cart</h1>
    </header>
    <div id="page">
      <table class="centred">
        <thead>
		{{#if basketItem.length}}
          <tr>
            <th class="first">&nbsp;</th>
            <th class="second">&nbsp;</th>
            <th class="third">&nbsp;</th>
            <th class="forth">&nbsp;</th>
          </tr>
        </thead>
		{{/if}}
        <tbody>
		{{#each basketItem}}
          <tr class="productitm">
            <td><img class="resize" src="{{this.ImageBlob}}"></td> <!-- Not actually blob actually a file path -->
			<td>&nbsp;&nbsp;{{this.Name}}&nbsp;&nbsp;</td>
            <td>&nbsp;&nbsp;£{{this.Price}}&nbsp;&nbsp;</td>
			<td>
				<form action="/users/removeItem" method="POST">
					<input name="ProductID" type="hidden" value="{{this.ListingID}}"></input>
					<input name="remove" type="image" src="https://i.imgur.com/h1ldGRr.png">
				</form>
			</td>
		  </tr>
		{{else}}
			<h3>Cart Empty</h3>
		{{/each}}
        </tbody>
      </table></br>
	  {{#if basketItem.length}}
	  <form action="/users/checkout" method="POST">
		<input type="submit" value="Checkout">
	  </form>
	  {{/if}}
	  <h5 type="text" value="Sub-Total: {{subtotal}}"></h5>
    </div>
  </div>