<div class="box5">
	<h1>Register</h1>
	{{#if user}}
			<div class="alert alert-danger">Username has taken already try new</div> 
	{{/if}}
	{{#if mail}}
			<div class="alert alert-danger">Email has taken already try new</div> 
	{{/if}} 
	{{#if errors}}
		  {{#each errors}}
			<div class="alert alert-danger">{{msg}}</div>
		  {{/each}}
	{{/if}}
	<form method="post" action="/users/register">
		<label>First Name</label>
		<input type="text" placeholder="FirstName" name="firstname" value="{{firstname}}">
		<label>Surname</label>
		<input type="text" placeholder="Surname" name="surname" value="{{surname}}">
		<label>Username</label>
		<input type="text" placeholder="Username" name="username" value="{{username}}">
		<label>Email</label></br>
		<input type="text" placeholder="Email" name="email" value="{{email}}">
		<label>Password</label></br>
		<input type="password" placeholder="Password" name="password1">
		<label>Confirm Password</label></br>
		<input type="password" placeholder="Password" name="password2">
		<input type="submit" ></input>
	</form>
	{{#if error.length}}
		<h3>{{error}}</h3>
	{{/if}}
</div>