
<div class="box1">
	<h3>Upload Photos For Listing</h3>
	<form action="/users/insertImage" method="POST">
		<label for="file">Click to Upload Images</label>
		<input type="file" name="file" id="file" class="upload" onchange="readURL(this)" accept="image/png" multiple /><br/>
		<input type="submit" name="" value="Upload">
	<form> 
</div>
<div class="box1">
	<h5> Product Description <h5>
	<p> Add the relevant details to your products here </p>
	<form action="/users/newListing" method="POST">
		<label>Product Name</label></br>
		<input type="text" id="pname" name="pname" value="{{{productName}}}">
		<label>Price</label>
		<input type="text" id="price" name="price" value="{{{price}}}">
		<label>Product Description</label>
		<input type="text" id="pdescription" name="pdescription" value="{{{productDescription}}}">
		<label>Condition</label></br>
		<select class="mdb-select md-form colorful-select dropdown-primary" id="condition" name="condition">
			<option value="default">{{{condition}}}</option>
			<option value="new">New</option>
			<option value="used">Used</option>
		</select></br></br>
		<label>Brand</label></br>
		<input type="text" id="brand" name="brand" value="{{{brand}}}"></br>
		<label>Type</label></br>
		<select class="mdb-select md-form colorful-select dropdown-primary" id="type" name="type">
			<option value="default">{{{type}}}</option>
			<option value="Boots">Boots</option>
			<option value="Trainers">Trainers</option>
			<option value="Smart Shoes">Smart Shoes</option>
			<option value="Slippers">Slippers</option>
		</select></br></br>
		<label>Size</label></br>
		<input type="text" name="size" id="size" value="{{{size}}}"></br>
		<label>Colour</label></br>
		<input type="color" name="colour" value="{{{colour}}}" id="colour"></br>
		<label>Material</label>
		<input type="text" name="material" id="material" value="{{{material}}}">
		<label>Sex</label></br>
		<select class="mdb-select md-form colorful-select dropdown-primary" id="sex" name="sex">
			<option value="default">{{{sex}}}</option>
			<option value="male">Male</option>
			<option value="female">Female</option>
			<option value="unisex">Unisex</option>
		</select></br></br>
		<input type="submit" name="Save" value="Save">
	</form>
</div>